@model IEnumerable<DictionaryWebAPI.Models.Word>

@if (Model != null)
{
    foreach (var word in Model)
    {
        foreach (var grp in word.Definitions.OrderBy(d => d.partOfSpeech).GroupBy(d => d.partOfSpeech))
        {
            <h2>@word.word</h2>
            <h3>@grp.Key</h3>
            <ol>
                @foreach (var item in grp)
                {
                    <li>
                        <span class="definition">@item.definition</span><br />
                        <span class="example">@item.example</span>
                    </li>
                }
            </ol>
        }
    }
}